<div id="topics"></div>
<div id="discussion"></div>
<div id="actions">
  <div class="output"></div>
  <div class="controls">
    <textarea cols="30" rows="5" id="new-action"></textarea>
  </div>
  <div class="status"></div>
</div>

<!-- Templates -->

<script type="text/html" id="action_template">
  <div class="action">
    <div class="display">
      <div class="content">{{ action }}</div>
    </div>
  </div>
</script>