<h1>Listing topics</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Description</th>
    <th>Agenda</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <%= render topic %>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
