
<%= title @agenda.name %>


<table>
  <% @agenda.topics.each do |topic| %>
  <%= render topic %>
  <% end %>
</table>

<% actions do %>
<%= link_to 'Añadir tema', new_agenda_topic_path(@agenda) %>
<% end %>
