
<!-- USER -->
<script type="text/html" id="user_template">
  <div class="user" style="background-color: #{{color}};">
    <h1>{{name}}</h1>
  </div>
</script>

<!-- USER STATUS-->
<script type="text/html" id="user_status_template">
  <div class="status">
    <span class="user_name">Eres: {{ name }}</span>
    <span class="users_info">Hay {{ users_count }} participantes ({{ users_online}} conectados)</span>
  </div>
</script>

<!-- ASSEMBLY -->
<script type="text/html" id="assembly_template">
  <div class="assembly">
    <h1>{{title}}</h1>
  </div>
</script>
<!-- ASSEMBLY STATS -->
<script type="text/html" id="assembly_status_template">
  <div class="status">
    <span class="assembly_name">Asamblea: {{ title }}</span>
  </div>
</script>

<!-- MESSAGE -->
<script type="text/html" id="message_template">
  <div class="message">
    <div class="attr-status">{{ status }}</div>
    <div class="attr-action">{{ body }}</div>
  </div>
</script>

<!-- TOPIC -->
<script type="text/html" id="topic_template">
  <div id="topic-{{id}}" class="topic {{#selected}}selected{{/selected}}"><h1>{{title}}</h1></div>
</script>



<!-- OPERATION -->
<script type="text/html" id="operation_template">
  <div class="operation {{action}}">{{user_name}} {{action}} {{model}}: {{params_str}}</div>
</script>

<!-- TOPIC EDITOR (with entry list inside) -->
<script type="text/html" id="topic_editor_template">
  <div class="topicEditor">
    <div class="header"><h1>Asunto: {{title}}</h1></div>
    <div class="list"></div>
    <div class="controls">
      <textarea cols="10" rows="3" class="new-entry"></textarea>
    </div>
  </div>
</script>

<!-- ENTRY -->
<script type="text/html" id="entry_template">
  <div class="entry">
    <div class="entry-info">
      <div class="user" style="background-color: #{{user_color}};">{{user_name}}</div>
    </div>
    <div class="body">{{body}}</div>
  </div>
</script>